# Dependencies
node_modules/
frontend/node_modules/

# Production
frontend/build/
backend/.venv/
backend/db.sqlite3
backend/media/
backend/.env

# Misc
.DS_Store
*.log
npm-debug.log*
__pycache__/
*.py[cod]

# IDE
.vscode/
.idea/

# Environment
.env
.env.local

# Images
图像/
